# ignore git
.git
.gitignore

# ignore node
node_modules

# ignore IDE
.idea
.vscode

# ignore logs
*.log
logs

# ignore env
.env*

# ignore build cache BUT keep jar
target/*
!target/*.jar
!backend/attendance-system/target/*.jar